---
---

@import "{{ site.theme }}";

.masthead
{
	position: fixed;
	top: 0;
	border-bottom: 1px solid #f2f3f3;
	-webkit-animation: intro 0.3s both;
	animation: intro 0.3s both;
	-webkit-animation-delay: 0.15s;
	animation-delay: 0.15s;
	z-index: 20;
	width: 100%;
	background: rgb(255, 152, 0);
	font-size: 1.2em;
	color: black;
	height: 85px;
}

